* {
    margin: 0;
    padding: 0;
}

.loading {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}
.loading.show{
    display: flex;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}
.page1 {
    background-color: skyblue;
    color: white;
}
.page2 {
    background-color: brown;
    color: white;
}